@import "../vars/variables";
//@import url('../../fonts/PingFang/PingFang.css');
@media (min-width: 770px) and (max-width: 990px) {
  //.gva-navigation {
  //  display: none;
  //}
  //冠心病治療方案
  #block-guanxinbingzhiliaofangan {
    .block-content {
      padding-top: 20px;
      ul {
        li {
          margin: 0 10%;
          float: unset;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 513px) and (max-width: 770px)  {
  //.gva-navigation {
  //  display: none;
  //}
  //冠心病治療方案
  #block-guanxinbingzhiliaofangan {
    .block-content {
      padding-top: 350px;
      ul {
        li {
          margin: 0 10%;
          float: unset;
          width: auto;
        }
      }
    }
  }
}
@media (max-width: 994px) {
  .gva-navigation {
    display: none;
  }
  //.az-header_bottom {
  //  .az-header-bbox {
  //    .az-header-search-box {
  //      #search-block-form {
  //        input {
  //          background-position: 500px ;
  //        }
  //      }
  //    }
  //  }
  //}
}

@media  (max-width: 513px) {
  //診斷冠心病
  #block-zhenduanguanxinbing {
    .block-content {
      ul {
        li:nth-child(2) {
          position: unset;
        }
      }
    }
  }
  //冠心病治療方案
  #block-guanxinbingzhiliaofangan {
    .block-content {
      padding-top: 670px;
      ul {
        li {
          margin: 0 10%;
          float: unset;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .path-az-health-club {
    .views-infinite-scroll-content-wrapper {
      width: 750px;
    }
  }

  .az-clinical-result-content {
    .views-element-container {
      header {
        width: 750px;
      }

      .views-infinite-scroll-content-wrapper {
        width: 750px;
      }
    }
  }
}

@media screen and (min-width: 768px) and(max-width: 994px)  {
  .az-header_bottom {
    .az-header-bbox {
      .az-header-search-box {
        #search-block-form {
          input {
            background-position: 500px ;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 660px ) and (max-width: 764px)  {
  .az-header_bottom {
    .az-header-bbox {
      .az-header-search-box {
        #search-block-form {
          input {
            background-position: 400px  !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 410px ) and (max-width: 630px)  {
  .az-header_bottom {
    .az-header-bbox {
      .az-header-search-box {
        #search-block-form {
          input {
            background-position: 230px  !important;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .path-az-health-club {
    .views-infinite-scroll-content-wrapper {
      width: 970px;
    }
  }
  .az-clinical-result-content {
    .views-element-container {
      header {
        width: 970px;
      }

      .views-infinite-scroll-content-wrapper {
        width: 970px;
      }
    }

  }
}


@media (min-width: 1200px) {
  .path-az-health-club {
    .views-infinite-scroll-content-wrapper {
      width: 1200px;
    }
  }

  .az-clinical-result-content {
    .views-element-container {
      header {
        width: 1200px;
      }

      .views-infinite-scroll-content-wrapper {
        width: 1200px;
      }
    }

  }
}

@media (max-width: 1200px) and (min-width: 994px) {
  .az-header_bottom {
    .az-header-bbox {
      .az-header-search-box {
        #search-block-form {
          input {
            background-position: 100px ;
          }
        }
      }
    }
  }
}

@media (max-width: 994px) {
  //nav {
  //  display: none;
  //}
  //nav {
  //  display: none;
  //}
  #sidebar-wrapper {
    //display: none;
    background: white;
    height: 100%;
    overflow: auto;
    .mobile-header-menu {
      margin-bottom: 20px;
      //margin-top: 15px;
      //padding-top: 10px;
      padding: 10px;
      box-shadow: 0px 0px 0px 1px #eeeeee;
      div {
        text-align: center;
        display: flex;
        .close {
          float: right;
          font-size: 50px;
          font-weight: 100;
          line-height: 1;
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .2;
          position: relative;
          left: -20px;
          //top: -15px;
        }
      }
    }
  }
  //#search-block-form {
  //  div {
  //    width: 100%;
  //    input {
  //      background-position: 180px !important;
  //    }
  //  }
  //}
  #menu-bar {
    //top: -16px;
    //left: 20px;
    margin: 0 15px!important;
    top: 20px;
    left: 0;
  }
}


@media (min-width : 768px) {
  .col-sm-1-7 {
    width: 14.28%;
    float: left;
  }
}

@media (min-width : 992px) {
  .col-md-1-7 {
    width: 14.28%;
    float: left;
  }
  #sidebar-wrapper {
    display: none;
  }
  //.gva-navigation {
  //  display: none;
  //}
}

@media (min-width : 1200px) {
  .col-lg-1-7 {
    width: 14.28%;
    float: left;
  }
  .gva-navigation {
    display: block;
  }
}
@media only screen and (min-width : 1350px) and (max-width: 1440px) {
  .az-offerdetail-article-header {
    left: 38%;
  }
  .az-offer-article {
    .az-offernode__content_body {
      top: -500px;
      left: 32%;
    }
    .az-offer-detail {
      left: -110px;
      top: -530px;
    }
    .az-offers_shop {
      top: -520px;
      left: 16px;
    }
    .az-medicine-shop-header {
      top: -520px;
      width: 70%;
      left: 390px;
      .az-medicinie-left{
        //margin: 10px 159px;
        margin-right: 180px;
        width: 33%;
      }
    }
    .az-offerdetail{
      //width: 44%;
      width: 55%;
      left: 420px;
      top: -513px;
    }
  }
}
@media only screen and (min-width : 1200px) and (max-width: 1340px) {
  .az-offerdetail-article-header {
    left: 39%;
  }
  .az-offer-article {
    .az-offernode__content_body {
      top: -560px;
      left: 32%;
    }
    .az-offer-detail {
      left: -80px;
      top: -570px;
    }
    .az-offers_shop {
      top: -560px;
      left: 25px;
    }
    .az-medicine-shop-header {
      top: -520px;
      //width: 70%;
      //left: 390px;
      width: 50%;
      left: 420px;
      .az-medicinie-left{
        //margin: 10px 159px;
        margin-right: 180px;
        width: 33%;
      }
    }
    .az-offerdetail{
      //width: 44%;
      //width: 55%;
      //left: 420px;
      top: -513px;
      width: 47%;
      left: 450px;
    }
  }
}
@media only screen and (min-width : 998px) and (max-width: 1200px) {
  .az-cardthree_box {
    height: 370px;
  }
}
@media only screen and (min-width : 838px) and (max-width: 990px) {
  .az-cardthree_box {
    height: 500px;

  }
}
@media only screen and (min-width : 550px) and (max-width: 838px) {
  .az-cardthree_box {
    height: 430px;
  }
}
@media only screen and (min-width : 505px) and (max-width: 550px) {
  .az-cardthree_box {
    height: 400px;
  }
}
@media only screen and (min-width : 375px) and (max-width: 490px) {
  .az-cardthree_box {
    height: 320px;
  }
}

@media only screen and (min-width : 375px) and (max-width: 550px) {
  .az-clinical-product-search  {
    margin-bottom: 300px;
  }
  .az-clinical-search_box > div{
     &:nth-child(1) {
       span {
         font-size: 20px;
       }
     }
  }
  .az-clinical-result .az-clinical-product-search {
    margin-bottom: 280px;
    .az-clinical-bgimg .az-clinical-search-block {
      height: 240px;
    }
  }
  .az-offer_box .az-offer_body .az-offer_body_desc {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 90px;
  }
  .az-offer_box .az-offer_click_bottom {
     right:5px;
  }
}
@media only screen and (min-width : 376px) and (max-width: 1200px) {
  .az-cardtwo_box {
    height: 500px;
    .az-cardtwo_img{
      height: 306px;
      img {
        height: 100%;
      }
    }
  }
  .az_clinical_box {
    .container > p {
      width: 100%;
    }
  }
}
@media only screen and (min-width : 668px) and (max-width: 790px) {
  #block-zixunyisheng {
    .az-fk-container {
      .az-ask-rg {
        margin: 30px 50px;
        .az-ask-rbtn {
          >button {
             margin-bottom: 10px;
          }
        }
      }
    }
  }
  .az-clinical_body {
    padding: 50px !important;
  }
}
@media only screen and (min-width : 469px) and (max-width: 650px) {
  .az-clinical_body {
    padding: 50px !important;
  }
  #block-zixunyisheng {
    .az-fk-container {
      .az-ask-rg {
        margin: 30px 50px;
        .az-ask-rbtn {
          >button {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .az-search-clinical-sex  {
     width: 40% !important;
    margin-bottom: 5px;
  }
  .az-search-button  {
    width: 93% !important;
    margin: 0 !important;
  }
}
@media only screen and (min-width : 375px) and (max-width: 468px) {
  #block-zixunyisheng {
    .az-fk-container {
      .az-ask-rg {
        margin: 30px 50px;
        .az-ask-rbtn {
          >button {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width : 376px) and (max-width:736px) {
  .az-clinical-result  {
    .az-product_head {
      //margin-bottom: 300px;
      position: relative;
      .az-pipline-redbox{
        display: flex;
        flex-wrap: wrap;
         div {
          margin-right: 1px;
           img {
             width: 100px;
           }
        }
      }
    }
  }
  .az-clinical_box {
    .az-clinical_body {
      .az-clinical_body_desc  {
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }

}


@media (max-width : 375px) {
  .path-faq {
    .az-faq-main_box {
      top: -150px;
      max-width: 80%;
      .az-fc  {
        padding: 0 ;
        padding-top: 30px;
        .az-faq-dbox {
          #webform-submission-guanzhongguankanliangduanxinzang-add-form {
            #edit-markup-01 {
              font-size: 15px;
              font-weight: $fss;
            }
            #edit-markup-02 {
              font-size: 12px;
              font-weight: $frs;
            }
            fieldset  {
              legend {
                span {
                  font-size: 15px;
                  font-weight: $frs;
                }
              }
            }
          }
        }
      }
    }
  }
  .path-contact-home {
    .main  {
      position: relative;
      top: -130px;
    }
  }
  .health-tips-orange {
    height: 100%;
    .view-content-wrap {
      display: flex;
      .az-offertips_box {
        margin: 10px 10px;
      }
      .az-offer_body {
        width: 100%;
        padding: 10px 10px !important;
      }
    }
  }
  .path-product-home {
    .az-product_box {
      margin-bottom: 30px !important;
      border-radius: 15px;
    }
  }
  .node--type-az-clinical-experience-process {
    .az-article-header {
      top: 1150px;
      left: 10px;
    }
  }
  .az-clinal-dt-share  {
    float: left !important;
    left: 280px !important;
    top: -186px !important;
  }
  .az_clinical_box {
    .container > p {
      width: 100%;
    }
    //.az-clinical_body {
    //  .az-clinical_body_desc  {
    //    word-break: break-all;
    //    text-overflow: ellipsis;
    //    overflow: hidden;
    //    display: -webkit-box;
    //    -webkit-line-clamp: 2;
    //    -webkit-box-orient: vertical;
    //  }
    //}
  }
  .az-clinical_box {
    .az-clinical_body {
      .az-clinical_body_desc  {
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  #block-zixunyisheng {
    .az-fk-container {
      .az-ask-rg {
        margin: 0;
        .az-ask-rbtn {
          display: flex;
          >button {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  .block-views-blockmedical-article-block-1 {
    .view-content-wrap {
      display: flex;
      flex-wrap: wrap;
      > div  {
        //padding-left: 0 !important;
        //padding-right: 0 !important;
        padding: 3px !important;
      }
      .az-cardtwo_box{
        .az-cardtwo_body_title {
            font-size: 22px;
          font-weight: $fss;
        }
        .az-cardtwo_sub_title {
           >p {
             &:nth-child(2) {
               color: $cl4;
             }
           }
        }
      }
    }
  }
  .az-cardtwo_box  {
    background: #ccc;
    height:350px ;
    .az-cardtwo_img{
      height: 200px;
      img {
        height: 100%;
      }
    }
  }
  .az-ft-fk  {
    .az-ft-img{
      width: 25%;
    }
  }
  .ui-tabs-panel {
    padding: 0 !important;
    .view-content-wrap {
      display: flex;
      flex-wrap: wrap;
      >div {
        //padding-right: 3px !important;
        //padding-left: 10px !important;
        //padding-right: 0px !important;
        //&:nth-child(1) {
          padding:1px !important;
        //}
      }
      .az-offer_box {
        height: 350px;
        .az-offer_body {
          padding:  5px   ;
          .az-offer_img {
            height: 180px;
          }
          .az-offer_body_title {
            font-size: 15px;
          }
          .az-offer_sub_title  {
            font-size: 10px;
          }
          .az-offer_click_bottom{
            a {
              font-size: 5px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  .block-quicktabs  {
    .ui-widget {
      .ui-widget-content {
        .ui-tabs-nav {
          margin-bottom: 30px;
          display: flex;
          flex-wrap: wrap;
          >li {
            width: 25%;
          }
        }
      }
    }
  }
  .az-midbn {
    .az-midbn-btn {
      margin-top: 40px;
      button {
        font-size: 12px;
        width: 45%;
        margin-right: 14px !important; ;
        border-radius: 8px;
        background-color: $color-orange;
        border:  1px solid  $color-orange ;
      }
    }
  }
  .az-mb-hd {
     //background: url("/sites/default/files/imce_upload/admin/v13.jpg") no-repeat;
    display:  block;
    height: 300px;
    img {
       width: 100%;
      height: 100%;
    }
  }
  .az-hr-img {
     display: none;
  }
  .az-header_bottom {
    .az-header-bbox {
      .az-header-search-box {
        #search-block-form {
          input {
            background-position: 200px !important; ;
          }
        }
      }
    }
  }
  .az-myjibin {
    .view-content-wrap {
      .item {
        margin-bottom: 30px;
      }
    }
  }
  .path-product-home {
    .main {
      position: relative;
      top: -100px;
    }
  }
  .path-offers  {
    .main {
      position: relative;
      top: -100px;
    }
  }
  .path-az-health-club {
    #block-astrazeneca-content {
      margin: 0 10px;
      position: relative;
      top: -50px;
      //.health-cb-mobile {
      //  padding: 0  !important;
      //}
    }
    .az-health-cb-mobile {
        padding: 3px  !important;
    }
  }
  .az-product-search_box > div {
    &:nth-child(1) {
      padding: 0 !important;
    }
  }
  .az-product_head {
    width: 100% !important;
    .az-product_head__body {
      margin: 0 !important;
      width: 100% !important;
      .container  {
        width: 100% !important;
      }
    }
  }
  .az-top-banner {
    h1 {
      top: 0 !important;
    }
  }
  .path-dashboard {
    .main {
      position: relative;
      top: -100px;
    }
    .az-dashboard {
      .az-das-bd {
        .az-das-head{
          display: block !important;
          .az-das-title {
            text-align: left;
            .dashboard-2 {
              font-size: 10px !important;
            }
          }
          .az-dasrg-button {
            margin-top: 10px !important;
            a {
              width: 100% !important;
            }
          }
        }
        .az-das-icon {
          display: flex;
          flex-wrap: wrap;
          .az-das-cc-box {
            width: 42% !important;
            margin-right: 0 !important;
            height: 158px;
            margin: 5px 15px;
          }
        }
      }
    }
  }
  .az-welcome{
    .az-wel-bd {
      position: relative;
      top: -100px;
      max-width: 90% !important;
      box-shadow: 0px 0px 10px 0px $color-gray;
      background: white;
      .welcome {
        margin: 0 !important;
        padding: 10px !important;
        height: 300px;
        .welcome-1 {
          font-size: 19px;
          font-family: $font-family-defaulttt;
          text-align: center;
        }
        .welcome-2 {
          color: $color-thingrey;
          text-align: center;
        }
        .az-wel-btn {
          display: flex;
          flex-wrap: wrap;
          padding: 50px;
        }
        .az-wel-btn>a{
          &::after {
            content: "";
          }
          &:nth-child(1) {
            background: $color-red;
            text-align: center;
            border-radius: 8px;
            margin-bottom: 10px;
            width: 100%;
          }
          &:nth-child(2) {
            background: $color-thingrey;
            text-align: center;
            border-radius: 8px;
            width: 100%;
          }
        }
      }
    }
  }
  .az-reg-three-cc {
    .container {
      >div {
        padding: 10px  !important;
      }
      max-width: 90% !important;
      top: -50px !important;
      background: white;
      .page-title  {
        .login-title {
          font-size: 20px;
          padding-left: 10px;
        }
        .login-sub-title {
          padding-left: 10px;
        }
      }
      #edit-medicine-using--wrapper  {
        legend {
          border-bottom: 0  !important;
          margin-bottom: 0 !important;
          span {
            font-size: 10px;
          }
        }
      }
      #edit-medicine-using {
        .js-form-type-radio {
          width: 45% !important;
          margin-right: 10px !important;
          input {
            top: 110px !important;
            left: 100px !important;
          }
        }
      }
      #edit-where1--wrapper {
        legend {
          margin-bottom: 0 !important;
          font-size: 10px !important;
        }
        #edit-where1 {
          label {
            font-size: 10px;
            font-weight: 100;
          }
        }
      }
      #edit-where2--wrapper {
        legend {
          margin-bottom: 0 !important;
          font-size: 10px !important;
        }
        #edit-where2 {
          label {
            font-size: 10px;
            font-weight: 100;
          }
        }
      }
      #edit-actions {
        a {
          width: 100% !important;
          margin-bottom: 10px;
        }
        #edit-submit {
          float: none !important;
          width: 100% !important;
        }
      }
    }
  }
  .az-reg-two-cc {
    .container {
      max-width: 90% !important;
      top: -50px !important;
      background: white;
      .page-title  {
        .login-title {
          font-size: 20px;
          padding-left: 10px;
        }
        .login-sub-title {
          padding-left: 10px;
        }
      }
      #multistep-form-two  {
        left: -10px;
        position: relative;
        #edit-attention2 {
          margin-left: 0 !important;
          font-size: 10px;
          .js-form-item-attention2-1 {
            input {
              margin-right: 0 !important;
            }
          }
        }
        #edit-communication-mode--wrapper {
          font-size: 10px !important;
          legend {
            font-size: 10px !important;
            font-weight: unset;
            border: 0 !important;
            width: 90% !important;
          }
          .fieldset-wrapper {
            #edit-communication-mode {
              .js-form-item {
                //display: flex;
                input {
                  margin-right: 10px;
                }
                label {
                  font-weight: unset !important;
                }
              }
            }
          }
        }
        #edit-actions {
          //display: flex;
          a {
            height: 42px;
            margin-bottom: 10px;
          }
          input {
            float:none;
          }
        }
      }
      #block-astrazeneca-content {
        div {
          input {
            width: 100%;
            margin-bottom: 10px;
          }
        }
        .az-form-element-container  {
          div {
            select {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  .path-user {
    .main-content-inner {
      .page-title {
        font-size: 25px;
      }
      .form-actions {
        input {
          width: 100%;
          margin-right: 20px;
          background: #EB1384 !important;
          margin-bottom: 10px;
        }
        a {
          border-radius: 5px;
          background: #898989 !important;
          padding-left: 90px;
          width: 100%;
          margin-left: 0;
          text-align: left !important;
        }
      }
    }
  }
  .az-user-register {
    .main-content-inner {
      height: 1130px;
    }
    #edit-actions {
      float: none;
      width: 100% !important;
      top: 0 !important;
    }
  }
  .az-contact-right-box {
    .top-box-img {
      margin-right: 10px;
    }
  }
  #az_clinic_select_type {
    width: 95%;
    margin-bottom: 10px;
  }
  #az_clinic_select_sex {
    width: 50%;
  }
  .az-clinical__search_body {
    .az-search-button {
      width: 40% !important;
    }
  }
  .az-clinical-search-block {
    height: 220px !important;
    box-shadow:0px 0px 0px #d0c9c9 !important;
    width: 80%;
  }
  .az-clinical-search_box {
    .az-clincal-searright {
      display: flex;
      position: relative;
      top: -40px;
      .az-clincal-search_button {
        input {
          width: 100% !important;
        }
      }
      .az-clincal-search_icon {
        width: 50px !important;
      }
    }
  }
  .az-clinical_box {
    padding-bottom: 20px;
    .az-clinical_img {
      height: 185px;
      img {
        height: 100%;
      }
    }
  }
  .az-clinical-trial-aritcle {
    margin-top: 40px;
  }
  .az_clinical_bottom_box {
    height: 300px !important;
    margin-bottom: 50px;
    .az__bottom_right_box {
      float: none;
      position: relative;
      top: 60px;
      width: 100% !important;
      margin: 0 !important;
      .az__bottom_right_box_title {
        text-align: center;
      }
    }
    .az__bottom_left_box {
      width: 100%;
      float: none;
    }
  }
  .az-ref-box {
    width: 100%;
    word-break: break-all;
  }
  .webform-submission-newsletter-subscription-form {
    display: block !important;
    div {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }
  .az-product_head {
    .az-pipline-redbox {
      display: block;
    }
  }
  .az-clinical-product-search {
    margin-top: 800px;
  }
  .az-clinical-right-box {
    margin: 0 15px;
    padding: 0;
    div {
      .field--name-field-az-clinical-page-image {
        img {
          width: 100%;
        }
      }
      label {
        padding-right: 10px;
      }
    }
    .az-clinical-rbx_logo {
      left:30px !important;
    }
  }
  .az-clinical-subjest-email {
    .az-clinical-subjest-body {
      width: 350px !important;
      div {
        span {
          margin:0 !important;
        }
      }
      .az-clinical-ckb-box {
        margin-left: 15%;
      }
      .az-clinical-ckb-box {
        margin-left: 15% !important;
      }
      .az-clinical-subjest_btn {
        display: flex;
      }
    }
  }
  .az-clinical-right-kv {
    .row {
      .shares {
        float: right;
        text-align: right;
        top: -90px;
      }
    }
  }
  //#block-astrazeneca-page-title {
  //  top: 1030px !important;
  //  margin-left: 15px !important;
  //  float: left;
  //  position: relative;
  //  word-break: break-all;
  //  div {
  //    .page-title {
  //      .az-article-header {
  //        word-break: break-all;
  //        left: 0 !important;
  //      }
  //    }
  //  }
  //}
  .node--type-az-clinical-experience-process {
    .node__content {
      .field--name-body {
        width: 100%;
        left: 0 !important;
        word-break: break-all;
        top: 0 !important;
        padding: 20px;
        margin: 0 10px!important;
        margin-bottom: 30px !important;
      }
      .field--name-field-az-clinical-mid-params {
        width: 100%;
        display: block;
        position: relative;
        margin: 10px 20px !important;
        top: -150px;
      }
    }
  }
  .field--name-field-az-clinical-category-item {
    width: 100% !important;
    .field__item {
      margin-bottom: 30px;
      .az-clinical-middle-kv {
        .az-middle-box {
          .az-clinical-mid__boom {
            .az-middle-trialimg {
              width: 100%;
              .field--name-field__clinical-trial-img {
                height: 100%;
                img {
                  height: 100%;
                }
              }
            }
            .az-middle-rgx {
              margin-left: 20px;
              .field--name-field-clinical-name {
                color:$color-orange;
                font-weight: bold;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .az-gb-refer {
    margin: 0 20px !important;
    word-break: break-all;
    width: 90% !important;
    text-align: left !important;
  }
  .path-az-health-club {
    .az-product_head {
      position: relative;
      //top: -40px;
      display: block;
      //width: 80% !important; //health club
      width: 100% !important; //health club
      .az-product_head__title1 {
        font-size: 10px;
        text-align: center;
      }
      .az-product_head__title2 {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  .block-quicktabs {
    .quicktabs-ui-wrapper {
      .ui-tabs-nav {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        .ui-tabs-tab {
          margin-right: 30px;
          width: 25%;
          .ui-tabs-anchor {
            display: grid;
            font-size:5px !important;
            img {
              width: 35px;
              height: 35px;
              margin-bottom:  0;
            }
          }
        }
      }
    }
  }
  .az-product-searright {
    display: flex;
    .az-product-search_button {
      input {
        width: 100%;
      }
    }
    .az-product-search_icon {
      width: 50px !important;
    }
  }
  .az-product_box {
    margin: 0 !important;
    .az-product_img {
      height: 100%;
      img {
        height: 100%;
      }
    }
    .az-product_body {
      position: relative;
      top: 20px;
    }
  }
  .az-qk-tab {
    margin-bottom: 15px;
  }
  .az-product_selectbox {
    .az-product_selectbox_content {
      width: 350px;
      height: 350px;
      .az-product_selectbox_btn {
        display: flex;
      }
    }
  }
  .az-product_duplicate {
    .az-product_duplicate_content {
      background-color: $color-thingrey ;
      width: 90% !important;
      height: 630px !important;
      .az-product_duplicate_img {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .az-product-icon {
        margin: 0 !important;
        margin-left: 30px !important;
        top: -25px;
        position: relative;
      }
      .az-product_duplicate_body {
        padding: 20px !important;
        width: 80%;
      }
    }
  }
  .az-offer-mobile {
    padding: 20px !important;
    margin-bottom: 20px;
    .views-field-body {
      .field-content{
        .az-offer_box {
          margin: 0 !important;
          .az-offer_img {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .az-offers_product_box {
    margin: 0 30px;
    left:0 !important;
    top: -280px !important;
  }
  .az-offer-detail {
    position: relative;
    //top: -830px;
    top: -1300px;
    left: -13px;
    .shares {
      //left: 380px;
      text-align: right;
    }
  }
  .az-offerdetail-article-header {
    text-align: left;
    //left: 0 !important;
    left: 15px !important;
    //top: -520px !important;
    top: 600px !important;
    font-weight: $fss;
  }
  .az-offernode__content_body {
    left: 0 !important;
    top: -60px !important;
    margin: 0 30px;
    width: 84%;
  }
  .az-offers_shop{
    width: 100%;
    top: -60px;
    margin: 0 !important;
    .field--name-field-medicine-shop-img  {
      margin: 0 20px;
    }
  }
  .az-medicine-shop-header {
    left: 0 !important;
    top: -70px;
    .az-medicinie-left {
      margin: 0 !important;
      padding: 0 !important;
    }
    .az-medicinie-right {
      padding: 0 !important;
    }
  }
  .field--name-field-medicine-shop-params {
    left: -60px !important;
    position: relative;
  }
  .az-offer-article {
    .az-offerdetail {
      //margin: 10px 60px !important;
      top: -70px;
      text-align: center;
      margin: 10px 55px;
    }
  }
  .az-health-cb-mobile {
    .az-offer_box {
      height: 400px !important;
      .az-offer_body{
        .az-offer_body_title {
          font-size: 15px;
        }
        .az-offer_sub_title {
          font-size: 10px;
        }
      }
    }
  }
  .az-product_headtwo {
    height: 420px !important;
  }
  .az-doc-talk {
    .az-offer_box {
      height: 400px !important;
      .az-offer_body {
        .az-offer_body_title {
          font-size: 15px;
        }
      }
    }
  }
  .az-healthtips_heads {
    margin-bottom: 80px !important;
  }
  .az-offertips_box {
    height: 160px!important;
    .az-offer_img {
      width: 30% !important;
    }
    .az-offer_body {
      .az-offer_body_title {
        font-size: 10px !important;
        font-weight: unset !important;
      }
      .az-offer_sub_title {
        font-size: 5px !important;
      }
    }
  }
  .az-contact-main_box {
    display: block !important;
    .az_contact_rg_box {
      .az_head {
        text-align: left !important;
      }
      .az_body {
        text-align: left !important;
      }
    }
  }
  .az-contact-form_body {
    .az_title {
      text-align: left !important;
    }
  }
  .az_contact_form {
    .js-form-item-name {
      float:none !important;
      input {
        width: 100% !important;
      }
    }
    .js-form-item-email {
      input {
        margin-bottom: 10px !important;
      }
    }
    .js-form-item-code {
      display: block !important;
      input {
        width: 100% !important;
        margin-bottom: 10px;
      }
    }
    .az-validcode {
      .az-valicodeshow {
        position: relative;
        left: -10px;
        input {
          width: 100px !important;
        }
      }
      .az-valicode_freash {
        width: 43% !important;
      }
    }
  }
  .az-register-one {
    margin: 0 15px;
  }
  .az-user-login-page {
    .main {
      position: relative;
      top: -100px;
      z-index: 999;
      background: white;
    }
  }
  .az-register-one {
    .az-register-onebox {
      img {
        padding: 1px !important;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15) !important;
      }
    }
  }
  #multistep-form-one {
    margin: 0 !important;
    .tips  {
      display: none;
    }
    #az-phone-email {
      div{
        input {
          width: 100% !important;
        }
      }
    }
    #az-pass-confirm-pass {
      div{
        input {
          width: 100% !important;
        }
      }
    }
  }
  .az-reg-s1 {
    input {
      width: 100% !important;
    }
  }
  .az-reg-s1-send {
    .js-form-item-verify-code {
      left: -30px !important;
      input {
        width: 142px !important;
      }
    }
  }
  #edit-privacy-statement {
    //height: 200px;
    //overflow: auto;
    .statement {
      height: 200px;
      overflow: auto;
    }
  }
  #edit-attention1 {
    .js-form-item-attention1-2 {
      display: flex;
    }
  }
}
