<div class="az-clinical-product-search">
    <div class="az-search-titile">搜尋適合您的臨床試驗計劃</div>
    <div class="az-clinical__search_body">
        <div></div>
      <div></div>
      <div></div>
      <button>立即搜尋</button>
    </div>
</div>
