
<div class="welcome">
  <div class="welcome-1">恭喜您！加入「康心摯友會」</div>
  <div class="welcome-2">「康心摯友」為您提供最新醫學情報及健康小貼士</div>
  <div class="az-wel-btn co-lg-12">
    <a href="#" class="main-page col-lg-12 btn">主頁</a>
    <a href="/dashboard" class="member-dashbord col-lg-12 btn">進入會員專區</a>
  </div>
</div>
