
<div class="dashboard">
  <div class="dashboard-1">您好，{{ variables.name }}{{ variables.genderName }}歡迎加入「康心摯友會」</div>
  <div class="dashboard-2">「康心摯友」為您提供最新醫學情報及健康小貼士</div>
  <a href="/user/logout" class="logout btn">登出</a>
  <a href="#" class="latest-promote">最新藥物優惠</a>
  <a href="/profile/1" class="my-profile">我的資料</a>
  <a href="#" class="my-event">我的活動/講座</a>
  <a href="#" class="medical-tutorial">藥物指導</a>
</div>

