
<div class="welcome">
  <div class="welcome-1">恭喜您！加入「康心摯友會」</div>
  <div class="welcome-2">「康心摯友」為您提供最新醫學情報及健康小貼士</div>
  <a href="#" class="main-page">主頁</a>
  <a href="/dashboard" class="member-dashbord">進入會員專區</a>
</div>
