/*
body {
    background-color:  $head-cus!important;
} */
.az-header_top .az-header_top_logo {
  float: left;
}

.az-header_top .top-box-img {
  float: left;
}

.az-header_top .top-box-info h1 {
  font-size: 15px;
}

.az-header_top .top-box-info p {
  font-size: 12px;
  color: #b8b8b8;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main {
  float: left;
  margin-left: -50px;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main li ul {
  min-width: 160px;
  border-left: 2px solid #fcaf17;
  border-top: none;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main li ul li {
  height: 40px;
  line-height: 40px;
}

.az-header_bottom .container-inline {
  float: left;
}
