body {
  overflow: hidden;
}

.az-cardthree_box {
  border: 1px solid #b8b8b8;
  padding-bottom: 30px;
  float: left;
  margin-bottom: 20px;
}

.az-cardthree_box .az-cardthree_img img {
  width: 100%;
}

.az-cardthree_box .az-cardthree_body {
  margin: 0px 20px 0px 20px;
  position: relative;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_logoimg {
  position: absolute;
  bottom: 10%;
  left: 70%;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_body_title {
  font-weight: bold;
  font-size: 20px;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_sub_title {
  color: #b8b8b8;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_sub_title p {
  float: left;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_click_bottom {
  float: right;
  text-align: center;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_click_bottom a {
  background-color: #eb1484;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80px;
  color: white;
}

.az-cardthree_box .az-cardthree_body .az-cardthree_click_bottom a:hover {
  background-color: orange !important;
}

.az-cardtow_box {
  box-shadow: 0px 0px 10px 5px #b8b8b8;
  padding-bottom: 30px;
}

.az-cardtow_box .az-cardtow_img img {
  width: 100%;
}

.az-cardtow_box .az-cardtow_body {
  margin: 0px 20px 0px 20px;
  position: relative;
  padding-bottom: 10px;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_body_title {
  font-weight: bold;
  font-size: 20px;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_sub_title {
  color: #b8b8b8;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_sub_title p {
  float: left;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_click_bottom {
  float: right;
  text-align: center;
  margin-right: 10px;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_click_bottom a {
  background-color: #eb1484;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80px;
  color: white;
}

.az-cardtow_box .az-cardtow_body .az-cardtow_click_bottom a:hover {
  background-color: orange !important;
}

#search-block-form input {
  background: transparent url(../images/search-icon.png) no-repeat;
  background-position: 90px;
  height: 40px;
  border: 1px solid #b8b8b8;
}

.az-header_top {
  height: 100px;
}

.az-header_top .az-header_top_logo {
  float: left;
}

.az-header_top .az-contact-right-box {
  margin-top: 20px;
}

.az-header_top .top-box-img {
  float: left;
  width: 40px;
  height: 40px;
  background: transparent url(../images/iphone.png) no-repeat;
}

.az-header_top .top-box-info h1 {
  font-size: 15px;
}

.az-header_top .top-box-info p {
  font-size: 12px;
  color: #b8b8b8;
}

.az-header_bottom {
  border: 1px solid #b8b8b8;
  height: 40px;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main {
  float: left;
  position: relative;
  bottom: 25px;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main li a {
  padding-bottom: 0 !important;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main li ul {
  min-width: 160px;
  border-left: 2px solid #fcaf17;
  border-top: none;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main li ul li {
  height: 40px;
  line-height: 40px;
}

.az-header_bottom .az-header_bottom_menu .gva-navigation .gva_menu_main .active a {
  color: #eb1484;
}

.az-header_bottom .container-inline {
  float: right;
  margin-bottom: 0px;
}

.az_clinical_box {
  background-color: #eb1484;
  padding-top: 20px;
  margin-top: 500px;
}

.az_clinical_box p {
  width: 50%;
  margin: auto;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  font-weight: lighter;
}

.az_clinical_box > p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}

.az_clinical_bottom_box {
  background-color: #b8b8b8;
  height: 200px;
  color: white;
}

.az_clinical_bottom_box .az__bottom_right_box {
  width: 40%;
  float: left;
  margin-top: 50px;
  margin-left: 80px;
}

.az_clinical_bottom_box .az__bottom_right_box .az__bottom_right_box_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.az_clinical_bottom_box .az__bottom_right_box .az__bottom_right_box_body {
  font-weight: lighter;
}

.az_clinical_bottom_box .az__bottom_left_box {
  float: right;
  width: 180px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  line-height: 60px;
  background-color: #fcaf17;
  margin-top: 80px;
  margin-right: 160px;
}

.az-ref-box .az-ref__title {
  font-size: 20px;
  font-weight: bold;
}

.az-ref-box .az-ref_hr {
  border-top: 1px solid #b8b8b8;
}

.az-ref-box .az-ref__body {
  color: #b8b8b8;
  font-size: 12px;
}

.az-product-search_box > div:nth-child(1) {
  float: left;
}

.az-product-search_box > div:nth-child(1) span {
  font-size: 20px;
  font-weight: bold;
}

.az-product-search_box > div:nth-child(2) {
  float: right;
  height: 40px;
}

.az-product-search_box > div:nth-child(2) .az-product-searright {
  float: right;
}

.az-product-search_box > div:nth-child(2) .az-product-searright .az-product-search_button {
  float: left;
}

.az-product-search_box > div:nth-child(2) .az-product-searright .az-product-search_button input {
  height: 40px;
  border: 1px solid #b8b8b8;
}

.az-product-search_box > div:nth-child(2) .az-product-searright .az-product-search_icon {
  float: left;
  width: 40px;
  height: 40px;
  background: black url(../images/search-icon.png) no-repeat;
  background-position: center;
}

.az-product-seach_across {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #b8b8b8;
  margin-bottom: 50px;
}

.az-product_head {
  margin: auto;
  text-align: center;
  width: 50%;
}

.az-product_head .az-product_head__title2 {
  font-size: 30px;
  font-weight: bold;
}

.az-product_head .az-product_head__title1 {
  color: #b8b8b8;
}

.az-product_head .az-product_head__body {
  color: #b8b8b8;
}

.az-healthtips_head {
  margin: auto;
  text-align: center;
  width: 50%;
}

.az-healthtips_head .az-healthtips_head__title2 {
  font-size: 30px;
  font-weight: bold;
}

.az-healthtips_head .az-healthtips_head__title1 {
  color: #b8b8b8;
}

.az-healthtips_head .az-healthtips_head__body {
  color: #b8b8b8;
}

.az-offer_box {
  float: left;
  margin: 20px;
  padding-bottom: 20px;
  border: 1px solid #b8b8b8;
  position: relative;
}

.az-offer_box .az-healthtips_head {
  margin: auto;
  text-align: center;
  width: 50%;
}

.az-offer_box .az-healthtips_head .az-healthtips_head__title2 {
  font-size: 30px;
  font-weight: bold;
}

.az-offer_box .az-healthtips_head .az-healthtips_head__title1 {
  color: #b8b8b8;
}

.az-offer_box .az-healthtips_head .az-healthtips_head__body {
  color: #b8b8b8;
}

.az-offer_box .az-offer_body {
  margin: 0px 20px 0px 20px;
}

.az-offer_box .az-offer_body .az-offer_body_title {
  font-weight: bold;
  height: 40px;
}

.az-offer_box .az-offer_body .az-offer_sub_title {
  color: #b8b8b8;
}

.az-offer_box .az-offer_click_bottom {
  float: right;
  text-align: center;
  margin-top: 10px;
}

.az-offer_box .az-offer_click_bottom a {
  color: white;
  background-color: #eb1484;
  border-radius: 5px;
  padding: 5px 10px;
  width: 80px;
  color: white;
}

.az-offer_box .az-offer_click_bottom a:hover {
  background-color: orange;
}

.az_loading {
  text-align: center;
  width: 100%;
}

.az-clinical-result article .node__content {
  margin-bottom: 50px;
}

.az-clinical-result article .node__content p {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #b8b8b8;
  margin-bottom: 10px;
}

.az-clinical-result article .field__item > p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.az-clinical-result .az-clinical-product-search {
  margin-bottom: 200px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg {
  height: 200px;
  background-color: #eb1484;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-bgfrontblock {
  text-align: center;
  color: white;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-bgfrontblock > div:nth-child(1) {
  padding-top: 40px;
  font-size: 12px;
  font-weight: lighter;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-bgfrontblock > div:nth-child(2) {
  font-size: 20px;
  margin-bottom: 20px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block {
  display: block;
  background-color: white;
  width: 80%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  height: 200px;
  box-shadow: 6px 6px 5px #d0c9c9;
  border-radius: 5px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-search-titile {
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-clinical__search_body {
  margin-top: 20px;
  color: #b8b8b8;
  margin-left: 20px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-clinical__search_body .az-search-clinical-type {
  width: 25%;
  border: 1px solid #b8b8b8;
  height: 50px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-clinical__search_body .az-search-clinical-age {
  width: 20%;
  border: 1px solid #b8b8b8;
  height: 50px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-clinical__search_body .az-search-clinical-sex {
  width: 20%;
  border: 1px solid #b8b8b8;
  height: 50px;
}

.az-clinical-result .az-clinical-product-search .az-clinical-bgimg .az-clinical-search-block .az-clinical__search_body .az-search-button {
  width: 25%;
  border-radius: 5px;
  background-color: #eb1484;
  border: 1px solid #eb1484;
  margin-left: 10px;
  height: 50px;
  color: white;
}

.col-sm-1-7 {
  width: 14.28%;
  float: left;
}

.col-sm-1-7,
.col-md-1-7,
.col-lg-1-7 {
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .col-sm-1-7 {
    width: 14.28%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-7 {
    width: 14.28%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-7 {
    width: 14.28%;
    float: left;
  }
}

.az-ta-clinical-type .az-ta-clinical_content .az-ta-clinical_img {
  float: left;
  width: 40px;
  height: 40px;
}

.az-ta-clinical-type .az-ta-clinical_content .az-ta-clinical_name {
  line-height: 40px;
}

.az-product_box {
  float: left;
  margin: 20px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 1px 1px 5px #b8b8b8;
}

.az-product_box .az-product_img {
  float: left;
  width: 40%;
  display: block;
}

.az-product_box .az-product_body {
  float: left;
  width: 60%;
  padding-left: 20px;
  padding-top: 20px;
}

.az-product_box .az-product_body .az-product_body_desc {
  color: #b8b8b8;
}

.az-product_box .az-product_body .az-product_body_icons {
  float: right;
  height: 24px;
  padding-right: 40px;
  width: 24px;
  background: transparent url(../images/search-icon.png) no-repeat;
}

.az-product_selectbox {
  display: none;
}

.az-product_selectbox .az-product_selectbox_content {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  width: 400px;
  height: 320px;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}

.az-product_selectbox .az-product_selectbox_content p {
  font-weight: bold;
  padding-bottom: 20px;
}

.az-product_selectbox .az-product_selectbox_content .az-product_selectbox_btn {
  text-align: center;
}

.az-product_selectbox .az-product_selectbox_content button {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.az-product_selectbox .az-product_selectbox_content .az-product_selectbox_btnyes {
  margin-right: 10px;
  border: 1px solid #eb1484;
  background-color: #eb1484;
}

.az-product_selectbox .az-product_selectbox_content .az-product_selectbox_btnno {
  margin-left: 10px;
  background-color: #b8b8b8;
  border: 1px solid #b8b8b8;
}

.az-product_selectbox .az-product_transbkg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  background-color: black;
  z-index: 10;
}

.az-product_duplicate {
  display: none;
}

.az-product_duplicate .az-product_transbkg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  background-color: black;
  z-index: 10;
}

.az-product_duplicate .az-product_duplicate_content {
  background-color: white;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  width: 40%;
  height: 230px;
  border-radius: 0px 8px 8px 0px;
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_img {
  float: left;
  width: 40%;
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_img .icon {
  position: absolute;
  background-color: #eb1484;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  bottom: 150px;
  left: 235px;
}

.az-product_duplicate .az-product_duplicate_content .az-product_content_close {
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  background-color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 30px;
  transform: rotate(45deg);
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_body {
  float: left;
  margin-left: 20px;
  margin-top: 50px;
  width: 40%;
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_body .az_duplicate_across {
  width: 50px;
  height: 5px;
  background-color: #eb1484;
  border-radius: 5px;
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_body a {
  font-size: 20px;
  font-weight: bold;
}

.az-product_duplicate .az-product_duplicate_content .az-product_duplicate_body p {
  margin-top: 20px;
  color: #b8b8b8;
  width: 80%;
}

.az-kxin-article-header .az_article_crumbs {
  font-size: 12px;
  color: #b8b8b8;
}

.az-kxin-article-header .az-article_rightbutton {
  float: right;
}

.az-kxin-article-header .az-article_rightbutton button {
  font-size: 15px;
  width: 120px;
  height: 40px;
  background-color: #eb1484;
  border: 1px solid #eb1484;
  border-radius: 5px;
  color: white;
}

.az-article-header {
  position: relative;
  left: 40%;
}

.az-node__content .az-node__content_bottom_boder {
  border-top: 1px solid #b8b8b8;
  padding-top: 10px;
}

.az-node__content .az-node__content_bottom_boder .row .col-md-9 > span {
  float: left;
  display: block;
  width: 36px;
  height: 36px;
}

.az-node__content .az-node__content_bottom_boder .row .col-md-9 > span:nth-child(1) {
  background: transparent url(../images/facebook.png) no-repeat;
}

.az-node__content .az-node__content_bottom_boder .row .col-md-9 > span:nth-child(2) {
  background: transparent url(../images/instagram.png) no-repeat;
}

.az-node__content .az-node__content_bottom_boder .row .col-md-9 > span:nth-child(3) {
  background: transparent url(../images/googleplus.png) no-repeat;
}

.az-clinical-search_box > div:nth-child(1) {
  float: left;
}

.az-clinical-search_box > div:nth-child(1) span {
  font-size: 20px;
  font-weight: bold;
}

.az-clinical-search_box > div:nth-child(2) {
  float: right;
  height: 40px;
}

.az-clinical-search_box > div:nth-child(2) .az-clincal-searright {
  float: right;
}

.az-clinical-search_box > div:nth-child(2) .az-clincal-searright .az-clincal-search_button {
  float: left;
}

.az-clinical-search_box > div:nth-child(2) .az-clincal-searright .az-clincal-search_button input {
  height: 40px;
  border: 1px solid #b8b8b8;
}

.az-clinical-search_box > div:nth-child(2) .az-clincal-searright .az-clincal-search_icon {
  float: left;
  width: 40px;
  height: 40px;
  background: black url(../images/search-icon.png) no-repeat;
  background-position: center;
}

.az-clincal-seach_across {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #b8b8b8;
  margin-bottom: 50px;
}

.az-clinical_box .az-clinical_img {
  float: left;
  width: 50%;
}

.az-clinical_box .az-clinical_body {
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-top: 20px;
}

.az-clinical_box .az-clinical_body .az-clinical_body_title a {
  font-weight: bold;
  font-size: 15px;
}

.az-clinical_box .az-clinical_body .az-clinical_body_desc {
  color: #b8b8b8;
}

.az-clinical_box .az-clinical_body .az-oclinical_time_bottom span {
  float: right;
  color: #b8b8b8;
}

.az-contact-main_box {
  display: flex;
  margin-bottom: 100px;
}

.az-contact-main_box .az_contact_rg_box .az_head h5 {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 500;
}

.az-contact-main_box .az_contact_rg_box .az_body h5 {
  color: #eb1484;
}

.az-contact-main_box .az_contact_rg_box .az_body p span {
  color: #b8b8b8;
}

.az-contact-main_box .az_contact_rg_box .az_body > p:nth-child(2) {
  background: transparent url(../images/blackphone.png) no-repeat;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  background-position: 10px;
  background-size: 30px 30px;
}

.az-contact-main_box .az_contact_rg_box .az_body > p:nth-child(3) {
  background: transparent url(../images/time.png) no-repeat;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  background-position: 10px;
  background-size: 30px 30px;
}

.az-contact-main_box .az_contact_rg_box .az_body > p:nth-child(4) {
  background: transparent url(../images/question.png) no-repeat;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  background-position: 10px;
  background-size: 30px 30px;
}

.az-contact-main_box .az-contact-form_body {
  border: 1px solid #d0c9c9;
  background-color: white;
  width: 100%;
  box-shadow: -5px 5px 10px -7px grey, 5px 5px 10px -7px grey;
}

.az-contact-main_box .az-contact-form_body .az_title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  padding-left: 10px;
  border-left: 5px solid #eb1484;
  border-radius: 5px;
}

.az-contact-main_box .az-contact-form_body .az_contact_form {
  margin: 20px 20px;
}

.health-tips-orange {
  height: 600px;
  background-color: #ffb425;
}

.health-tips-orange .az-healthtips_heads {
  color: white;
  text-align: center;
}

.health-tips-orange .az-healthtips_heads .az-healthtips_head__title1 {
  font-weight: 100;
}

.health-tips-orange .az-healthtips_heads .az-healthtips_head__title2 {
  font-size: 24px;
}

.health-tips-orange .az-healthtips_heads .az-healthtips_head__body {
  width: 50%;
  margin: 0 auto;
  font-weight: 100;
}

.health-tips-orange .az-offertips_box {
  background-color: white;
  border-radius: 10px;
  width: 45%;
  margin: 50px;
  height: 200px;
}

.health-tips-orange .az-offertips_box .az-offer_img {
  background: transparent url(../images/cardiac.png) no-repeat;
  width: 20%;
  height: 100%;
  float: left;
  background-size: 100%;
  background-position: center;
}

.health-tips-orange .az-offertips_box .az-offer_body {
  width: 80%;
  padding: 30px 0px 0px 10px;
}

.health-tips-orange .az-offertips_box .az-offer_body .az-offer_body_title {
  font-size: 24px;
  font-weight: bold;
}

.health-tips-orange .az-offertips_box .az-offer_body .az-offer_sub_title {
  color: #b8b8b8;
}

.webform-submission-contact-form .js-form-item-name {
  float: left;
  padding-right: 16px;
  padding-bottom: 10px;
}

.webform-submission-contact-form .js-form-item-subject {
  padding-bottom: 10px;
}

.webform-submission-contact-form .js-form-item-message {
  padding-bottom: 10px;
}

.webform-submission-contact-form .js-form-item-message input {
  height: 110px;
}

.webform-submission-contact-form .js-form-item-code {
  display: flex;
  padding-bottom: 20px;
}

.webform-submission-contact-form .js-form-item-code input#edit-code {
  width: 20%;
}

.webform-submission-contact-form .js-form-item-code .description {
  padding-left: 10px;
}

.webform-submission-contact-form .js-form-item-code .description .webform-element-description .az-validcode {
  display: flex;
}

.webform-submission-contact-form .js-form-item-termcheck {
  display: flex;
}

.webform-submission-contact-form .js-form-item-termcheck .description {
  padding-left: 10px;
  padding-bottom: 50px;
}

.webform-submission-contact-form .webform-actions {
  text-align: center;
}

.webform-submission-contact-form .webform-actions input {
  width: 200px;
  background: #eb1484;
}

.az-header-topimg {
  position: relative;
}

.az-header-topimg img {
  width: 100%;
}

.az-header-topimg .az-header-imgbody {
  position: absolute;
  top: 10%;
  left: 20%;
}

.az-header-topimg .az-header-imgbody > p:nth-child(1) {
  background-color: #eb1484;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  border-radius: 10px;
}

.az-header-topimg .az-header-imgbody > p:nth-child(1) a {
  color: white;
  font-weight: bold;
  font-size: 1vw;
}

.az-header-topimg .az-header-imgbody > p:nth-child(2) {
  font-size: 5vw;
  color: white;
  font-weight: bold;
}

.az-header-topimg .az-header-imgbody > p:nth-child(3) {
  color: #eb1484;
  font-size: 2vw;
  font-weight: 500;
}

.az-header-topimg .az-header-imgbody > p:nth-child(4) {
  color: white;
  font-size: 1.2vw;
  font-weight: 200;
  width: 22vw;
}

.az-home_toptext1 {
  color: #b8b8b8;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 60px;
}

.az-home_toptext2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px !important;
}

.az-home_toptext3 {
  color: #b8b8b8;
  text-align: center;
  margin-bottom: 60px !important;
}

#block-homerenshikangxinzhiyou .row .left {
  color: white;
  background-color: #eb1484;
  padding: 5% 10% 5% 10%;
  height: 500px;
}

#block-homerenshikangxinzhiyou .row .left h5 {
  color: white;
  font-size: 40px;
}

#block-homerenshikangxinzhiyou .row .right {
  padding-left: 0px !important;
}

#block-homerenshikangxinzhiyou .row .right img {
  width: 100%;
  height: 500px;
}

.az-header-bbox {
  display: flex;
}

.az-header-bbox .menu-bar {
  right: 30px;
}

.az-header-bbox .az-header-right {
  line-height: 40px;
}

.az-header-bbox .az-header-right .block {
  margin-bottom: 0px;
}

#footer .footer-center {
  background: unset;
}

#footer .footer-center #block-footerleft div.field--name-body {
  display: flex;
}

#footer .footer-center #block-footerleft div.field--name-body img {
  height: 104px;
}

#footer .footer-center #block-footerleft div.field--name-body p {
  margin-left: 20px;
}

#footer .footer-center #block-footerleft div.field--name-body p strong {
  color: black;
}

#footer .footer-center #block-webform .block-title span {
  color: black !important;
  font-size: 15px;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(1) {
  width: 35%;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(1) #edit-email {
  width: 100%;
  height: 40px;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(2) {
  width: 35%;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(2) #edit-ta-type {
  width: 100%;
  height: 40px;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(3) {
  width: 25%;
}

#footer .footer-center #block-webform .block-content form > div:nth-child(3) #edit-actions-submit {
  height: 40px;
  width: 100%;
  background: #EB1384;
}

#footer .footer-center #block-webform .block-content form {
  display: flex;
  justify-content: space-between;
}

footer#footer::after {
  content: ' ';
  width: 100%;
  height: 40px;
  background-color: #0f0f0f;
  display: block;
}

.az-offers_product_box {
  position: relative;
  clear: both;
  left: 15%;
  top: -200px;
}

.az-offers_logoimg {
  clear: both;
  position: absolute;
  top: 35%;
  left: 30%;
}

.az-offer-article .az-offerdetail {
  position: relative;
  margin-left: 29%;
  display: flex;
}

.az-offer-article .az-offerdetail .az-off-pp-params {
  border-top: 1px solid #d9d8d8;
  border-bottom: 1px solid #d9d8d8;
  width: 25%;
}

.az-offer-article .az-offerdetail .az-off-pp-area {
  border-top: 1px solid #d9d8d8;
  border-bottom: 1px solid #d9d8d8;
  width: 25%;
}

.az-medicine-shop-header {
  display: flex;
}

.az-offernode__content_body {
  position: relative;
  left: -10%;
  top: 0px;
}

.az-offernode__content_body p {
  color: #b8b8b8;
}

.az-offers_shop {
  margin-bottom: 20px;
  top: 0px;
  left: 40%;
}

.az-medicine-shop-header {
  left: 39%;
  position: relative;
}

.az-offer-article {
  margin-bottom: 10px;
}

.az-offer-article .field--name-field-medicine-shop-params {
  position: relative;
  left: 11%;
}

#az-contact_valid_code {
  height: 45px;
  background-color: #d0cbcb;
  text-align: center;
  border: 0;
  width: 120px;
}

#az-contact_freshbtn {
  color: white;
  height: 45px;
  background-color: black;
  text-align: center;
  margin-left: 10px;
  width: 120px;
}

.az-clinical-right-box {
  border: 1px solid #b8b8b8;
  position: relative;
  top: -100px;
}

.az-clinical-right-box .az-clinical-rbx_title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

.az-clinical-right-box .az-clinical-rbx_desc {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.az-clinical-right-box .az-clinical-rbx__boom {
  display: flex;
  padding-left: 20px;
}

.az-clinical-right-box .az-clinical-rbx_logo {
  position: relative;
  top: -35px;
  left: 10px;
}

.az-clinical-right-box .az-clinical-bottom-box {
  text-align: center;
  padding-bottom: 20px;
}

.az-clinical-right-box .az-clinical-bottom-box span {
  font-size: 15px;
  font-weight: bold;
}

.az-clinical-right-box .az-clinical-bottom-box div button {
  border: 0px;
  background-color: #eb1484;
  color: white;
  border-radius: 5px;
  width: 45%;
}

.az-middle-box .az-clinical-mid__boom {
  display: flex;
}

.paragraph--type--clinical-trial-portal-category-p .field--name-field-az-clinical-category-item {
  display: flex;
}

.node--type-az-clinical-experience-process .node__content .field--name-body {
  position: relative;
  top: 150px;
  margin-top: 10px;
  left: 2%;
}

.paragraph--type--clinical-trial-portal-category-p {
  position: relative;
  margin-top: 10px;
  top: 150px;
}

.block-quicktabs {
  border: none;
}

.block-quicktabs .ui-widget.ui-widget-content {
  border: none;
}

.block-quicktabs .ui-widget.ui-widget-content .ui-tabs-nav {
  border: none;
  background: none;
}

.block-quicktabs .ui-widget.ui-widget-content .ui-tabs-nav li {
  border: none;
  background: none;
}

.block-quicktabs .ui-widget.ui-widget-content .ui-tabs-nav li a {
  color: black;
  display: flex;
  align-items: center;
}

.block-quicktabs .ui-widget.ui-widget-content .ui-tabs-nav li a img {
  margin-right: 10px;
}

.az-clinical-subjest-email {
  display: none;
}

.az-clinical-subjest-email .az-clinical_transbkg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.4;
  background-color: black;
  z-index: 10;
}

.az-clinical-subjest-email .az-clinical-subjest-body > div {
  /*   &:nth-child(3) {
            span{
                margin-right: 20px;
            }
            input{
                border:1px solid $color-gray;
                width: 200px;
                height: 40px;
                margin-left: 20px;
            }
        }
        &:nth-child(4) {
            border:1px solid $color-gray;
            width: 200px;
            line-height: 40px;
            margin-left: 105px;
            margin-bottom: 30px;
            input{
                margin-left: 20px;
            }
        } */
}

.az-clinical-subjest-email .az-clinical-subjest-body > div:nth-child(2) span {
  margin-right: 60px;
}

.az-clinical-subjest-email .az-clinical-subjest-body > div:nth-child(2) input {
  border: 1px solid #b8b8b8;
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

.az-clinical-subjest-email .az-clinical-subjest-body {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 11;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}

.az-clinical-subjest-email .az-clinical-subjest-body p {
  font-weight: bold;
  padding-bottom: 20px;
}

.az-clinical-subjest-email .az-clinical-subjest-body p span {
  font-size: 12px;
  color: gray;
}

.az-clinical-subjest-email .az-clinical-subjest-body div {
  height: 40px;
  margin-bottom: 20px;
}

.az-clinical-subjest-email .az-clinical-subjest-body div span {
  font-size: 18px;
  font-weight: 500;
}

.az-clinical-subjest-email .az-clinical-subjest-body .az-clinical-subjest_btn {
  text-align: center;
}

.az-clinical-subjest-email .az-clinical-subjest-body button {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  color: white;
}

.az-clinical-subjest-email .az-clinical-subjest-body .az-clinical-subjest_btnemail {
  margin-right: 10px;
  border: 1px solid #eb1484;
  background-color: #eb1484;
}

.az-clinical-subjest-email .az-clinical-subjest-body .az-clinical-subjest_btncancel {
  margin-left: 10px;
  background-color: #b8b8b8;
  border: 1px solid #b8b8b8;
}

.az-product-position .az-product_headtwo {
  height: 300px;
  background-color: #eb1484;
  text-align: center;
  color: white;
}

.az-product-position .az-product_headtwo .az-product_head__title1 {
  font-weight: 100;
  padding-top: 50px;
}

.az-product-position .az-product_headtwo .az-product_head__title2 {
  font-size: 24px;
}

.az-product-position .az-product_headtwo .az-product_head__body {
  width: 50%;
  margin: 0 auto;
  font-weight: 100;
}

.az-product-position .clearfix {
  position: relative;
  bottom: 100px;
}
