@import "../vars/variables";
/*
body {
    background-color:  $head-cus!important;
} */

.az-header_top{
    .az-header_top_logo{
        float: $float-left;
    }
    .top-box-img{
        float: $float-left;
    }
    .top-box-info{
        h1{
            font-size: 15px;
        }
        p{
            font-size: 12px;
            color: $color-gray;
        }
    }
}
.az-header_bottom{
    .az-header_bottom_menu{
        .gva-navigation{
            .gva_menu_main{
                float: $float-left;
                margin-left: -50px;
                li{
                    ul{
                        min-width: 160px;
                        border-left: 2px solid $color-orange;
                        border-top: none;
                        li{
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                }
                .active{
                    a{
                        color: $color-red;
                    }
                }
            }
        }
    }
    .container-inline{
        float: $float-left;
    }
}
.az_clinical_box{
    background-color: $color-red;
    padding-top: 20px;
    p{
        width: 50%;
        margin: auto;
        color: white;
        text-align: center;
        padding-top: 10px;;
        font-size: 12px;
        font-weight: lighter;
    }
}
.az_clinical_box > p{
    &:nth-child(2){
        font-size: 20px;
        font-weight: bold;
    }
}
.az_clinical_box > p{
    &:nth-child(4){
        width: 80px;
        height: 10px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: $color-orange;
    }
}
.az_clinical_bottom_box{
    background-color: $color-gray;
    height: 200px;
    color: white;
    .az__bottom_right_box{
        width: 40%;
        float: left;
        margin-top: 50px;
        margin-left: 80px ;
        .az__bottom_right_box_title{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .az__bottom_right_box_body{
            font-weight: lighter;
        }
    }
    .az__bottom_left_box{
        float: right;
        width: 180px;
        height: 60px;
        border-radius: 10px;
        text-align: center;
        line-height: 60px;
        background-color: $color-orange;
        margin-top: 80px;
        margin-right: 160px;
}
}

.az-ref-box{
    .az-ref__title{
        font-size: 20px;
        font-weight: bold;
    }
    .az-ref_hr{
        border-top: 1px solid $color-gray;
    }
    .az-ref__body{
        color: $color-gray;
        font-size: 12px;
    }
}
//医学讲座及活动
.az-product_head{
    margin:auto;
    text-align: center;
    width: 50%;
    .az-product_head__title2{
        font-size: 30px;
        font-weight: bold;
    }
    .az-product_head__title1{
        color: $color-gray;
    }
    .az-product_head__body{
        color: $color-gray;
    }
}
.az-offer_box{
    float: left;
    margin: 20px;
    padding-bottom: 20px;
    border: 1px solid $color-gray;
    position: relative;
    .az-offer_body{
        width: 55%;
        float: left;
        position: relative;
        left: 30px;
       
        .az-offer_body_title{
            font-weight: bold;
            font-size: 20px;
        }
        .az-offer_sub_title{
            color: $color-gray;
        }
    }
    .az-offer_click_bottom{
        float: right;
        background-color: $color-red;
        width: 20%;
        position: relative;
        top:20px;
        right: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 5px;
        a{
            color: white;
        }
    }
}
.az_loading{
    text-align: center;
    width: 100%;
}
//clinical search block
.az-clinical-product-search {
    margin-bottom: 200px;
    .az-clinical-bgimg {
      height:200px;
      background-color: #eb1484;
      .az-clinical-bgfrontblock {
        text-align: center;
      }
      .az-clinical-search-block {
        display: block;
        text-align: center;
        background-color: white;
        width: 80%;
        position: relative;
        margin-right:auto;
        margin-left:auto;
        margin-top: 50px;
        height: 200px;
        box-shadow: 6px 6px 5px #d0c9c9;
        border-radius: 8px;
        .az-clinical__search_body {
          .az-search-clinical-type {
            width: 25%;
          }
          .az-search-clinical-age {
            width: 20%;
          }
          .az-search-clinical-sex {
            width: 20%;
          }
          .az-search-button {
            width: 25%;
            border-radius: 5px;
            background-color: #eb1484;
            border: 2px solid #eb1484;
            margin-left: 10px;
          }
        }
      }
    }
  }