@import "../vars/variables";
/*
body {
    background-color:  $head-cus!important;
} */
.az-header_top{
    .az-header_top_logo{
        float: $float-left;
    }
    .top-box-img{
        float: $float-left;
    }
    .top-box-info{
        h1{
            font-size: 15px;
        }
        p{
            font-size: 12px;
            color: $color-gray;
        }
    }
}
.az-header_bottom{
    .az-header_bottom_menu{
        .gva-navigation{
            .gva_menu_main{
                float: $float-left;
                margin-left: -50px;
                li{
                    ul{
                        min-width: 160px;
                        border-left: 2px solid $color-orange;
                        border-top: none;
                        li{
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                }
                .active{
                    a{
                        color: $color-red;
                    }
                }
            }
        }
    }
    .container-inline{
        float: $float-left;
    }
}
.az-ref-box{
    .az-ref__title{
        font-size: 20px;
        font-weight: bold;
    }
    .az-ref_hr{
        border-top: 1px solid $color-gray;
    }
    .az-ref__body{
        color: $color-gray;
        font-size: 12px;
    }
}