<div class="cancel-subscribe-success">
  <div class="title"><h3>你已成功訂閱-康心摯友會諮詢</h3><div class="az-cancel-v-line"></div></div>
  <div class="your-email"><span>你的電郵地址：</span><span class="az-can-mail">email@example.com</span></div>
  <div class="cancel-label"><h5>取消訂閱以下資訊範疇：</h5></div>
  <div class="ta-typ-list container row">
    <h5>心血管疾病</h5>
    <h5>糖尿病</h5>
  </div>
  <div class="back-main-page"><button href="/home" class=""><h4>回到主頁</h4></button></div>
</div>
